<ion-view view-title="Alarm Active Test" class="backgroundSet">
<ion-content>
    <h1>Alarm Active Test</h1>
    <ion-view>
      <button class="button button-block button-positive" ng-click="sayHoroscopeTest()">horoscope</button>
      <button class="button button-block button-positive" ng-click="sayBibleVerseTest()">bibleverse</button>
      <button class="button button-block button-positive" ng-click="sayInspirationalQuoteTest()">inspirationalquote</button>
      <button class="button button-block button-positive" ng-click="sayGoogleEventsTest()">events</button>
      <button class="button button-block button-positive" ng-click="sayWeatherTest()">weather</button>
      <button class="button button-block button-positive" ng-click="sayCommuteTimeTest()">commutetime</button>
    </ion-view>
  </ion-content>
</ion-view>
