ion-popover-view.fit {
  height: auto;
}

ion-popover-view.fit ion-content {
  position: relative;
}

.platform-android ion-popover-view.fit {
  margin-top: 10px;
}

.platform-ios ion-popover-view.fit .item:first-child {
  border-radius: 10px 10px 0 0;
}
.platform-ios ion-popover-view.fit .item:last-child {
  border-radius: 0 0 10px 10px;
}

.button{
  font-family: 'Comic Neue', sans-serif;
  font-weight: 700;
  font-size: 1em !important;
  line-height: 1.5;
}

.setNamePopup .popup-head {
  display: none;
}
.namePopupText {
}
.nameAdd {
  width:100%;
}
.backgroundImageAdd {;
  width:100%;
}
.snoozeNumberSelect {
  position: absolute;
  text-align: center;
  font-size: large;
  font-weight: bold;
  width:50%;
  left:25%;
  top:39%;
}
.increase {
  position: absolute;
  width:25%;
  float: right;
}
.decrease {
  position: absolute;
  float: left;
  width: 25%;
}
.scroll-content {
  background: url("../img/icon.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: contain;
}
.pane:nth-child(2) {
  background: url("../img/icon.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: contain;
}
